{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block body %}

<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl"><center>Giriş yap</center></h1>
        <form method="post" action=".">
            {% csrf_token %}
            
            <div class="mb-3">
                <label class="inline-block mb-3">Kullanıcı adı</label><br>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label class="inline-block mb-3">Şifre</label><br>
                {{ form.password }}
            </div>
            <button type="submit" class="py-4 px-8 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Giriş</button>

            

        </form>
</div>
{% endblock body %}